html, body {
  height: 100%;
  margin: 0px;
}

img {
  width: 400px;
  height: 350px;
  border-radius: 10%;
  border-style: solid;
  border-width: 1px;
  display: block;
  margin: auto;

}

img:hover {
  opacity: 0.6;
}

body {
  background-color: #ffd1c2;
}
.container {
  background-color: #fff4f0;
  min-height: 100%;
}
li {
  list-style-type: none;
}

li, p {
  font-family: 'Open Sans';
  font-size: 16px;
}

ol, ul {
  padding-left: 0px;
}

p, ul, ol, li {
  text-align: center;
  padding: 2px;
}

.col-md-4 {
  padding: 0px;
}

h1 {
  font-size: 55px;
  font-family: 'Comfortaa';
  font-weight: bold;
  text-align: center;
  padding: 20px 0px 15px 0px;
  border-color: white;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-width: 5px;
}

.subtitle {
  padding: 15px 0px 0px 0px;
}

h2 {
  text-align: center;
  font-family: 'Comfortaa';
  font-size: 45px;
  background-color: white;
  padding: 15px;
}

h3 {
  text-align: center;
}

h4 {
  font-size: 40px;
  font-family: 'Comfortaa';
  font-weight: bold;
  text-align: center;
  border-style: solid;
  border-top: none;
  border-right: none;
  border-left:none;
  border-width: 1px;
  padding-bottom: 5px;

}

a:visited {
  color: black;

}

a:hover {
  color: pink;
  text-decoration: none;
}

a {
  padding: 0px;
  font-family: 'Comfortaa';
  color: #8ace68;
}

.nametofu {
  padding: 0px 25px 0px 25px;
  margin-top: 53px;
}

.helloworld {
  padding-right: 20px;
}
.backinfo {
  float: right;
}

#middle {
  margin: 50px 0px 50px 0px;
}

#projects {
  padding: 25px 10px 50px 10px;
}
