img {
  width: 400px;
  height: 350px;
  border-radius: 15%;
}

/*body {
  background-color: #ffd1c2;
} */

.container {
  background-color: ;
}
li {
  list-style-type: none;
}

li, p {
  font-family: 'Open Sans';
  font-size: 16px;
}

p, ol {
  text-align: center;
}
h1 {
  font-size: 50px;
  font-family: 'Comfortaa';
  font-weight: bold;
  text-align: center;
}

h3 {
  text-align: center;
}
h4 {
  font-size: 40px;
  font-family: 'Comfortaa';
  font-weight: bold;
  text-align: center;
}

a:visited {
  color: black;

}

a:hover {
  color: pink;
  text-decoration: none;
}

a {
  padding: 0px;
  font-family: 'Comfortaa';
}

.nametofu {
  padding: 0px 50px 0px 0px;
}
.backinfo {
  float: left;
}

#middle {
  margin: 100px 0px 50px 0px;
}

#projects {
  padding: 50px 0px 50px 0px;
}
