img {
  width: 400px;
  height: 350px;
}

li {
  list-style-type: none;
}

li, p {
  font-family: 'Open Sans';
  font-size: 16px;
}
]
h1 {
  font-size: 50px;
  font-family: 'Comfortaa';
  font-weight: bold;
}

h4 {
  font-size: 40px;
  font-family: 'Comfortaa';
  font-weight: bold;
}

a:visited {
  color: black;

}

a:hover {
  color: pink;
  text-decoration: none;
}

a {
  padding: 0px;
  font-family: 'Comfortaa';
}

.nametofu {
  width: auto;
  height: auto;
}
.backinfo {
  float: left;
}
